{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
	<title>{% block title %}BillBirder | Watch Congress like a hawk.{% endblock title %}</title>
	{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/additional.css' %}">
	{% endblock css %}
</head>
<body>
	<div class="container">
		<header class="row">
			{% block header %}
			<div class="span12">
				<h1><a href="/">BillBirder</a></h1>
				<h3>Watch Congress like a hawk.</h3>
			</div>
			{% endblock header %}
		</header>
		<div id="content" class="row">
			{% block content %}{% endblock content %}
		</div>
		<footer id="footer">
			{% block footer %}
				<ul>
					<li><a href="#">About</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Code</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			{% endblock footer %}
		</footer>
	</div>
</body>
</html>